<!DOCTYPE html>
<html ng-app="ingestApp">
<head>

<title>Data Ingest Form</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap-flatly.min.css" />
<link type="text/css" rel="stylesheet" href="css/demo.css" />

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script type="text/javascript" src="js/Faker.js"></script>

<script type="text/javascript" src="js/controllers/ingest-controller.js"></script>

<style>
.nav,.pagination,.carousel,.panel-title a {cursor: pointer;}
</style>
</head>

<body ng-controller="NameListCtrl">
	<script type="text/ng-template" id="modalContent.html">
        <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">x</button>
            <h3 class="modal-title" ng-show="edit">Edit Person</h3>
			<h3 class="modal-title" ng-show="!edit">Add New Person</h3>
        </div>
        <div class="modal-body">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}"
					close="closeAlert($index)">{{alert.msg}}</alert>

			<div class="container">
				<ul class="nav nav-pills nav-stacked col-md-2">
					<li ng-class="{'active':step==1}" ng-click="setStep(1)"><a href="#">Name</a></li>
					<li ng-class="{'active':step==2}" ng-click="setStep(2)"><a href="#">Address</a></li>
					<li ng-class="{'active':step==3}" ng-click="setStep(3)"><a href="#">Employer</a></li>
				</ul>
				<form name="form.editPerson">
					<div class="tab-content col-md-7" ng-show="step == 1">
						<div class="form-horizontal" ng-form='step1form'>
							<div class="form-group">
								<label for="personName" class="col-md-2 control-label">Name</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="personName" placeholder="Required" ng-model="editPerson.name" required>
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="email" class="col-md-2 control-label">Email</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="email" placeholder="Required" ng-model="editPerson.email" required>
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="phone" class="col-md-2 control-label">Phone</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="phone" placeholder="Optional" ng-model="editPerson.phone">
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="username" class="col-md-2 control-label">Username</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="username" placeholder="Optional" ng-model="editPerson.username">
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="site" class="col-md-2 control-label">Website</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="site" placeholder="Optional" ng-model="editPerson.website">
   	   							</div>
  							</div>
						</div>
					</div>
					<div class="tab-content col-md-7" ng-show="step == 2">
						<div class="form-horizontal" ng-form='step2form'>
							<div class="form-group">
								<label for="streetA" class="col-md-2 control-label">Street</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="streetA" placeholder="Optional" ng-model="editPerson.address.streetA">
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="streetB" class="col-md-2 control-label"></label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="streetB" placeholder="Optional" ng-model="editPerson.address.streetB">
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="streetC" class="col-md-2 control-label"></label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="streetC" placeholder="Optional" ng-model="editPerson.address.streetC">
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="streetD" class="col-md-2 control-label"></label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="streetD" placeholder="Optional" ng-model="editPerson.address.streetD">
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="city" class="col-md-2 control-label">City</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="city" placeholder="Optional" ng-model="editPerson.address.city">
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="country" class="col-md-2 control-label">State</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" typeahead="state for state in states | filter:$viewValue | limitTo:10" id="country" placeholder="Optional" ng-model="editPerson.address.state">
   	   							</div>
  							</div>
						</div>
					</div>
					<div class="tab-content col-md-7" ng-show="step == 3">
						<div class="form-horizontal" ng-form='step3form'>
							<div class="form-group">
								<label for="companyName" class="col-md-2 control-label">Name</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="companyName" placeholder="Optional" ng-model="editPerson.company.companyName">
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="phrase" class="col-md-2 control-label">Catch Phrase</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="phrase" placeholder="Optional" ng-model="editPerson.company.catchPhrase">
   	   							</div>
  							</div>
							<div class="form-group">
								<label for="bs" class="col-md-2 control-label">Mission Statement</label>
   	   							<div class="col-md-10">
   	     							<input type="text" class="form-control" id="bs" placeholder="Optional" ng-model="editPerson.company.bs">
   	   							</div>
  							</div>
						</div>
					</div>
				</form>
			</div>
        </div>
        <div class="modal-footer">
			<button class="btn btn-primary" ng-click="previous()" ng-show="step > 1" >Prev</button>
			<button class="btn btn-primary" ng-click="next()" ng-show="step < 3" ng-disabled="form.editPerson.step1form.$invalid">Next</button>
            <!--<button class="btn btn-success" ng-click="save()" ng-show="step == 3" ng-disabled="form.editPerson.$invalid">Save</button>-->
			<button class="btn btn-success" ng-click="save()" ng-show="form.editPerson.$valid" ng-disabled="form.editPerson.$invalid">Save</button>
            <button style="display:none;" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<!-- note the ng-init and ng-click here: -->
				<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="ingest.html">MarkLogic JAVA Demo</a>
				
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Ingestor</a></li>
					<li><a href="consume.html">Consumer</a></li>
					<li><a href="analytics.html">Analytics</a></li>
				</ul>
			</div>
		</nav>
		
		<alert ng-repeat="alert in alerts" type="{{alert.type}}"
			close="closeAlert($index)">{{alert.msg}}</alert>
	
		<div class="jumbotron">
        	<h1>Person Generator / Ingestor</h1>
        	<p>Example page to that allows users to either generate random <b><i>fake</i></b> person records (one or more), or create a person record by hand. 
		</div>
	
		<div class="panel panel-primary">
			<div class="panel-body">
				<div class="col-sm-4">
					<div class="btn-group" dropdown>
						<button type="button" class="btn btn-primary" ng-click="generatePeople()">Generate Person</button>
						<button type="button" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
				      	<ul class="dropdown-menu" role="menu">
				        	<li><a href="#" ng-click="generatePeople(5)">Generate 5 People</a></li>
				        	<li><a href="#" ng-click="generatePeople(10)">Generate 10 People</a></li>
				        	<li><a href="#" ng-click="generatePeople(50)">Generate 50 People</a></li>
				        	<li><a href="#" ng-click="generatePeople(500)">Generate 500 People</a></li>
				        	<li><a href="#" ng-click="generatePeople(5000)">Generate 5000 People</a></li>
				        	<li><a href="#" ng-click="generatePeople(15000)">Generate 15000 People</a></li>
				        	<li class="divider"></li>
        					<li><a href="#" ng-click="open('lg')">Create Person By Hand</a></li>
				      	</ul>
				    </div>
				</div>
				
				<div ng-show="people.length > 0">
					<div class="col-sm-4" ng-show="people.length == 1">
						<h4>{{people.length}} Person generated</h4>
					</div>
					<div class="col-sm-4" ng-show="people.length > 1">
						<h4>{{people.length}} People generated</h4>
					</div>
					<div class="col-sm-4">
						<button class="btn btn-warning" ng-click="clearPeople()">Clear List</button>
						<button class="btn btn-success" ng-click="insertPeople()">Load Database</button>
					</div>
				</div>
			</div>
		</div>

		<div class="well" ng-show="people.length > 0">
			<ul class="list-group">
				<li ng-repeat="person in people" class="list-group-item">
					<div class="panel panel-primary">
						<div class="panel-heading">
    						<h3 class="panel-title">{{person.name}}</h3>
  						</div>
  						<div class="panel-body">
  							<p>Some more information about this person</p>
    						<div style="float:right;">
    							<button type="button" class="btn btn-info btn-sm" ng-click="edit($index)">
  									<span class="glyphicon glyphicon-pencil"></span>
								</button>
    							<button type="button" class="btn btn-danger btn-sm" ng-click="remove($index)">
  									<span class="glyphicon glyphicon-remove-sign"></span>
								</button>
    						</div>
  						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>