/* Copyright 2002-2014 MarkLogic Corporation. All Rights Reserved. */
th.ts-order-desc, th.ts-order-asc {
    cursor:pointer;
    padding-right:18px;
    height:12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;      
}
th.ts-order-asc.active{
    background:url('../images/sort-asc.gif') no-repeat right center;      
}
th.ts-order-desc.active {
    background:url('../images/sort-desc.gif') no-repeat right center;     
}     
